00-nm.sh
10-ferm.sh
19-zebra.sh
20-babel.sh
20-ospf6.sh
20-ospf.sh
20-ripng.sh
20-rip.sh
35-ntp.sh
37-nis.sh
39-lldp.sh
50-geoip.sh
65-ntp.sh
80-babel.sh
80-ospf6.sh
80-ospf.sh
80-ripng.sh
80-rip.sh
81-zebra.sh
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
COPYING
core
cscope.*
.deps/
INSTALL
_install/
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
*.o
README
README.html
README.txt
RELEASE
RELEASE.html
RELEASE.txt
scripts/
stamp-h*
.*.sw[mnop]
*.tar.*
*.tmp
