# This file masks persistent renaming rules for network devices. If you
# delete this file, /usr/lib/udev/rules.d/80-net-name-slot.rules may
# rename network devices according to ID_NET_NAME_{ONBOARD,SLOT,PATH}
# properties of your network devices, with priority in that order. See
# the output of 'udevadm test-builtin net_id /sys/class/net/$interface'
# for details on what that new name might be.
# 
# http://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames

SUBSYSTEM!="net", GOTO="net_setup_link_end"

# If we don't do this ID_PATH will not be set up by udev
#
IMPORT{builtin}="path_id"

ACTION=="remove", GOTO="net_setup_link_end"

# If we don't do this ID_NET_LINK_FILE will not be set up by udev
#
IMPORT{builtin}="net_setup_link"

#
# Need to do everything but this step, otherwise eth* names will not be applied correctly
#
# NAME=="", ENV{ID_NET_NAME}!="", NAME="$env{ID_NET_NAME}"

LABEL="net_setup_link_end"
