ACTION=="remove", GOTO="unexicon_ifplugd_end"
SUBSYSTEM=="net", KERNEL=="eth*|usb*|en*", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/sys/subsystem/net/devices/$name", ENV{SYSTEMD_WANTS}+="unexicon-ifplugd@%k.service"
LABEL="unexicon_ifplugd_end"
