ACTION=="remove", GOTO="unexicon_wpa_supplicant_end"
SUBSYSTEM=="net", KERNEL=="wlan*", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/sys/subsystem/net/devices/$name", ENV{SYSTEMD_WANTS}+="unexicon-wpa_supplicant@%k.service"
LABEL="unexicon_wpa_supplicant_end"
