ACTION=="remove", GOTO="xtra_systemd_end"
#SUBSYSTEM=="net", KERNEL=="eth*|usb*|en*", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/sys/subsystem/net/devices/$name", ENV{SYSTEMD_WANTS}+="avahi-autoipd@%k.service"
SUBSYSTEM=="tty", KERNEL=="ttyS0|ttyUSB0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="serial-getty@%k.service"
LABEL="xtra_systemd_end"
