[Unit]
Description=Unexicon Accel-PPPD Daemon
Documentation=man:accel-ppp.conf(5)
Conflicts=pptpd.service accel-pppd.service
After=network.target

[Service]
ExecStart=/usr/bin/accel-pppd -d -p /run/accel-pppd.pid -c /etc/accel-ppp-unexicon.conf
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
PIDFile=/run/accel-pppd.pid
Type=forking

[Install]
WantedBy=multi-user.target
Alias=accel-pppd.service
