[Unit]
Description=Avahi mDNS/DNS-SD Stack Activation Socket
Documentation=man:avahi-daemon(8)

[Socket]
ListenStream=/run/avahi-daemon/socket

[Install]
Also=avahi-daemon.socket
WantedBy=sockets.target
