[Unit]
Description=Simple Network Management Protocol (SNMP) Daemon
Documentation=man:snmpd(8) man:snmpcmd(5)
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/snmpd.pid
ExecStart=/usr/bin/snmpd -LS 0-5 d -Lf /dev/null -I -smux -p /run/snmpd.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Alias=snmpd.service
