[Unit]
Description=Avahi auto IP on %I
Documentation=man:avahi-autoipd(8)
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
IgnoreOnIsolate=yes
Conflicts=avahi-autoipd@%i.service

[Service]
Type=forking
PIDFile=/run/avahi-autoipd.%I.pid
ExecStart=/usr/sbin/avahi-autoipd -D -w --force-bind %I
ExecReload=/usr/sbin/avahi-autoipd -r %I
ExecStop=/usr/sbin/avahi-autoipd -k %I
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
