[Unit]
Description=Avahi mDNS/DNS-SD Stack Activation Socket
Documentation=man:avahi-daemon(8)
Conflicts=avahi-daemon.socket

[Socket]
ListenStream=/run/avahi-daemon/socket

[Install]
WantedBy=sockets.target
Alias=avahi-daemon.socket
