[Unit]
Description=Avahi DNS Configuration Daemon
Documentation=man:avahi-dnsconfd(8)
Requires=unexicon-avahi-daemon.socket unexicon-avahi-daemon.service
After=unexicon-avahi-daemon.socket

[Service]
Type=simple
ExecStart=/usr/bin/avahi-dnsconfd -s

[Install]
WantedBy=multi-user.target
Also=unexicon-avahi-daemon.socket
Alias=avahi-dnsconfd.service
