[Unit]
Description=DHCP Client Daemon on %I
Documentation=man:dhcpcd(8)
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Conflicts=unexicon-dhcpcd.service dhcpcd.service

[Service]
Type=forking
PIDFile=/run/dhcpcd-%I.pid
ExecStart=/usr/bin/dhcpcd -q --waitip 4 -f /etc/dhcpcd-unexicon.conf %I 
ExecStop=/usr/bin/dhcpcd -x -f /etc/dhcpcd-unexicon.conf %I

[Install]
WantedBy=multi-user.target
Alias=dhcpcd@%i.service
