[Unit]
Description=Avahi DNS Configuration Daemon
Documentation=man:avahi-dnsconfd(8)
Requires=unexicon-avahi-daemon.socket unexicon-avahi-daemon.service
After=unexicon-avahi-daemon.socket

[Service]
Type=forking
ExecStart=/usr/bin/avahi-dnsconfd -D
ExecReload=/usr/bin/avahi-dnsconfd -r
ExecStop=/usr/bin/avahi-dnsconfd -k

[Install]
WantedBy=multi-user.target
Also=unexicon-avahi-daemon.socket
Alias=avahi-dnsconfd.service
