[Unit]
Description=Automatic wired network interface setup for unexicon
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/bin/ifplugd -i %I -r /etc/ifplugd/unexicon.action -bfIns

[Install]
WantedBy=multi-user.target
