[Unit]
Description=Automounter
Documentation=man:automount(8)
After=network.target ypbind.service sssd.service network-online.target remote-fs.target
After=nss-user-lookup.target
Wants=network-online.target
Before=systemd-user-sessions.service

[Service]
Type=forking
PIDFile=/run/autofs.pid
EnvironmentFile=-/etc/default/autofs
ExecStart=/usr/bin/automount $OPTIONS --pid-file /run/autofs.pid
ExecReload=/usr/bin/kill -HUP $MAINPID
TimeoutSec=180

[Install]
WantedBy=multi-user.target
Alias=autofs.service
